@use 'sass:map';
@use 'sass:string';
@use 'sass:meta';

:root {
  --paleDP: #5F534A;
}

$font: 'Nunito', sans-serif;
$fontSerif: 'Old Standard TT', serif;

$dark: #29292B;
$light: #FDF5E6;
$paleDP: var(--paleDP);
$paleMD: #847870;
$paleLW: #C7BBB2;
$accent: #C9A84B;
$error: #ff3860;
$success: #48c78e;
$transDark: rgba(41, 41, 43, 0.9);
$transLight: rgba(253, 245, 230, 0.7);

$borderRadiusSM: 3px;
$borderRadiusMD: 5px;
$borderRadiusLG: 7px;

$elementHeightXS: 0.5rem;
$elementHeightSM: 1.875rem;
$elementHeightMD: 2.375rem;
$elementHeightLG: 2.875rem;

$containerWidth: 74.875rem;
$asideWidth: 15.625rem;
$desktopHeaderHeight: 4.375rem;
$asideWidthMobile: 8.75rem;
$albumAsideWidth: 31.25rem;
$playerHeight: calc(3.875rem + $elementHeightXS / 1.5);
$coverWidth: 21.875rem;

$minPadding: 1rem;
$basicPadding: 0.625rem;
$fieldPadding: 0.5rem;
$mainPadding: 1.563rem;
$doublePadding: 3.125rem;

$animation: cubic-bezier(.06,.28,.26,.81);

$shadowMedium: $paleMD 0px 5px 15px;
$shadowInner: rgba(0, 0, 0, 0.07) 3px 3px 4px -1px inset;

@mixin buttonClose {
  position: absolute;
  top: $mainPadding;
  right: $mainPadding;
  background-color: transparent;
  z-index: 10;

  .icon {
    color: $light;
  }
}

@mixin serif($size) {
  font: $size 'Old Standard TT', serif;
  letter-spacing: 1px;
  font-weight: 600;
}

@mixin cardHeading() {
  font-weight: 700;
  color: $dark;
  font-size: 0.875rem;
  position: relative;
  margin-top: 7px;
}

@mixin cardCaption() {
  font-weight: 600;
  color: $paleDP;
  font-size: .75rem;
  position: relative;
}

$breakpoints: (
  'mobile': 768px,
  'desktop': 1280px,
  'desktop-md': 1536px,
  'desktop-lg': 1780px,
  'desktop-hg': 2048px,
  'landscape': '(orientation: landscape)'
  ) !default;

@function parse-condition($query) {
  $operator: null;
  $name: null;
  $value: null;

  @if string.index($query, '<=') == 1 {
    $operator: 'max';
    $name: string.slice($query, 3);
  } @else if string.index($query, '>=') == 1 {
    $operator: 'min';
    $name: string.slice($query, 3);
  } @else if string.index($query, '<') == 1 {
    $operator: 'max';
    $name: string.slice($query, 2);
  } @else if string.index($query, '>') == 1 {
    $operator: 'min';
    $name: string.slice($query, 2);
  } @else {
    $operator: 'min';
    $name: $query;
  }

  $value: map.get($breakpoints, $name);

  @if $value == null {
    @warn 'Неизвестный брейкпоинт: "#{$name}"';
    @return null;
  }

  @if meta.type-of($value) == 'string' and string.index($value, '(') == 1 {
    @return $value;
  }

  @if $operator == 'max' {
    $value: $value - 1px;
  }

  @return '(#{$operator}-width: #{$value})';
}

@mixin media($query1, $query2: null) {
  $condition1: parse-condition($query1);
  $condition2: if($query2 != null, parse-condition($query2), null);

  @if $condition1 != null and ($query2 == null or $condition2 != null) {
    $isFullQuery1: meta.type-of($condition1) == 'string' and string.index($condition1, '(') == 1;
    
    $mediaQuery: '';
    
    @if $isFullQuery1 {
      $mediaQuery: $condition1;
    } @else {
      $mediaQuery: 'screen and #{$condition1}';
    }
    
    @if $condition2 != null {
      $mediaQuery: '#{$mediaQuery} and #{$condition2}';
    }

    @media #{$mediaQuery} {
      @content;
    }
  } @else {
    @warn 'Wrong conditions';
  }
}
