@import '~/scss/variables.scss';
@import 'include-media';

.input-field {
  border: 1px solid;
  border-color: $paleMD;
  padding: .5rem .75rem;
  width: 100%;

  &::placeholder {
    color: $paleDP;
  }

  &.--error {
    border-color: $error;
    outline-color: $error;
  }
}
