@import '~/scss/variables';
@import 'include-media';

.tracklist {
  margin: 20px 0;

  &__row {
    // font-weight: 600;
    font-size: 1rem;
    color: $black;
    height: 3rem;
    display: flex;

    &:hover {
      background-color: $dark;
      color: $white;
    }
  
    &_cell {
      display: flex;
      align-items: center;
      position: relative;
  
      &.--order {
        width: 20px;
        flex: none;
        line-height: 1;
        justify-content: flex-end;
      }
  
      &.--drag {
        flex: none;
        justify-content: flex-start;

        @include media('<laptop') {
          width: 18px;
        }

        @include media('>=laptop') {
          width: 30px;
        }
        
        * {
          cursor: move;
        }
      }
  
      &.--fix {
        flex: none;
        justify-content: center;

        @include media('<laptop') {
          width: 40px;
        }

        @include media('>=laptop') {
          width: 50px;
        }
      }
  
      &.--pointer {
        cursor: pointer;
      }

      &.--title {

        @include media('<laptop') {
          padding-left: 0;
          margin-right: 5px;
        }
      }

      &.--duration {

        @include media('<laptop') {
          display: none;
        }
      }
  
      &.--disabled {
        pointer-events: none;
      }
  
      .float-modal {
        width: 262px;
        min-height: 106px;
  
        .preloader {
          height: 100%;
  
          &__icon {
            width: 50px;
            height: 50px;
          }
        }
      }

      &:last-child {

        @include media('<laptop') {
          display: none;
        }
      }
    }
  
    &_action {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 0;

      @include media('<laptop') {
        padding: 0;
      }
  
      .icon {
        width: 18px;
        height: 18px;
        color: $pale;
        transition: fill 0.2s ease;
      }
  
      &:hover {
  
        .icon {
          color: $dark;
          transition: fill 0.2s ease;
        }
      }
    }
  
    &.--playing {
      background-color: $white;
      color: $dark;
    }
  
    &.--disabled {
      
      & > *:not(:nth-last-child(2)) {
        opacity: 0.25;
        pointer-events: none;
      }
    }
  
    &.sortable-chosen {
      background-color: $border;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 3px;
    }
  }
}