@import '~/scss/variables';
@import 'include-media';

.float-modal {
  position: absolute;
  right: 0;
  top: 100%;
  background: $white;
  z-index: 10;
  border-radius: 3px;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__content {
    display: flex;
    flex-direction: column;
    min-height: inherit;

    @include media('<laptop') {
      height: inherit;
    }
  }

  &__empty {
    padding: 16px;
    text-align: center;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    strong {
      font-size: 16px;
      font-weight: 600;
      display: block;
      margin-bottom: 10px;
    }

    span {
      font-size: 14px;
      color: $paleDP;
    }
  }

  &__item{
    margin-bottom: 10px;
    user-select: none;
    padding: 0 25px;
    
    label {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 12px;
      color: $paleDP;

      .--checkbox {
        margin-right: 5px;
      }
    }

    &:first-child {
      padding-top: 25px;
    }

    &:last-child {
      padding-bottom: 0;
    }  
  }

  &__create {
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    padding: 10px 16px 16px;
    margin-top: auto;
  }

  &__input {
    height: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: $white;
    padding: 0 10px;
    outline: none;
    border: 1px solid $paleLT;
    border-right: 0;

    &:focus {
      border-color: $dark;

      & + .float-modal__submit {
        border-color: $dark;
      }
    }
  }

  &__submit {
    height: 30px;
    background-color: $dark;
    color: $white;
    border: 1px solid $dark;
    border-left: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-radius: 0;

    &[disabled] {
      background-color: $paleLT;
      border-color: $paleLT;
      cursor: default;
      pointer-events: none;
      color: $paleDP;
    }

    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: 1px solid $white;
    }

    .icon {
      width: 18px;
      height: 18px;
    }
  }
}
