@import '~/scss/variables';

.float-modal {
  position: absolute;
  min-width: 100px;
  right: 0;
  top: 100%;
  background: $white;
  z-index: 10;
  border-radius: 3px;
  cursor: default;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__close {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
      color: $dark;
    }
  }

  &__empty {
    padding: 16px;
    text-align: center;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    strong {
      font-weight: 600;
      display: block;
      margin-bottom: 10px;
    }

    span {
      font-size: 14px;
      color: $pale;
    }
  }

  &__create {
    display: grid;
    grid-template-columns: 1fr 30px;
    padding: 10px 16px 16px;
    margin-top: auto;
  }

  &__input {
    height: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: $white;
    padding: 0 10px;
    outline: none;
    border: 1px solid $border;
    border-right: 0;

    &:focus {
      border-color: $dark;

      & + .float-modal__submit {
        border-color: $dark;
      }
    }
  }

  &__submit {
    height: 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $dark;
    color: $white;
    border: 1px solid $dark;
    border-left: 0;
    padding: 0;
    cursor: pointer;

    &[disabled] {
      background-color: $border;
      border-color: $border;
      cursor: default;
      pointer-events: none;
      color: $pale;
    }
  }
}
