@import '~/scss/variables';
@import 'include-media';

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;

  &.--dark {
    height: 100%;
    
    .preloader__icon {
      fill: $white;
    }
  }

  &.--light {
    background-color: $transLight;

    @include media('<laptop') {
      height: 100vh
    }

    @include media('>=laptop') {
      height: calc(100vh - #{$playerHeight});
    }
  }

  &__icon {
    
    path {
      fill: $pale;
    }
  }
}