@import '~/scss/variables';

.header {
  background-color: $white;
  border-bottom: 1px solid $border;
  height: $headerHeight;
  padding: 15px 24px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2000;

  &.--z-low {
    z-index: 0;
  }
}