@import '~/scss/variables';
@import 'include-media';

.aside {
  flex: none;
  background-color: $white;
  z-index: 2000;

  @include media('<laptop') {
    position: relative;
    width: $asideWidthMobile;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 50px;
    transition: transform 0.75s $animation;
    background-color: $accent;
    order: 1;

    &.--opened {
      transform: translateX(-#{$asideWidthMobile});
      transition: transform 0.5s $animation;
    }
  }

  @include media('>=laptop') {
    border-right: 1px solid $border;
    position: relative;
    width: $asideWidth;
  }

  &.--z-low {
    z-index: 1000;
  }

  &__homelink {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 25px;
    font-weight: 700;
    text-transform: uppercase;

    @include media('<laptop') {
      justify-content: flex-end;
      height: 50px;
      color: $white;
    }

    @include media('>=laptop') {
      height: 70px;
      color: $pale;
    }

    .icon-vinyl {

      @include media('<laptop') {
        display: none;
      }

      @include media('>=laptop') {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        flex: none;
        fill: $pale;
        stroke: $pale;
      }
    }
  }

  &__nav {
    padding: 0 25px;

    &-link {
      font-size: 14px;
      line-height: 3;
      font-weight: 600;
      display: block;
      transition: color 0.2s ease;

      @include media('<laptop') {
        text-align: right;
        color: $white;
      }

      @include media('>=laptop') {
        color: $pale;
      }

      &:hover,
      &.router-link-active {
        transition: color 0.2s ease;
        color: $dark;
      }
    }
  }
}
