.album {
  flex: 1 1 0;
  position: relative;
  padding: 25px;
  display: grid;
  grid-template-columns: 230px 1fr;

  &.--frame {
    grid-template-columns: 350px 1fr;
  }

  &__aside {
    position: relative;

    .float-modal {
      width: 100%;
      top: calc(100% + 15px);
      min-height: $albumAsideWidth;
      max-height: calc(100vh - 420px);

      .preloader {
        height: 100%;

        &__icon {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  
  &__sidebar {
    position: sticky;
    top: 25px;
  }

  &__content {
    padding-left: 25px;
    flex: 1 1 0;
  }

  &__frame {
    text-align: center;
    padding: 0 10px;

    & > iframe {
      border-radius: 5px;
      width: 100% !important;
    }
  }

  .album__frame {
    min-width: 350px;
    padding: 0;
  }

  &__player {
    margin-bottom: 7px;

    iframe {
      width: 100% !important;
      height: 212px !important;
      border-radius: 5px;
      display: block;
    }
  }

  &__link {
    padding: 0 10px;
    display: block;
    text-align: center;
    position: relative;
    min-height: 252px;
  }

  &__image {
    object-fit: cover;
    position: relative;

    &_img,
    &_vinyl {
      width: 100%;
      display: block;
      height: 212px;
      transition: transform 0.5s $animation;
    }

    &_img {
      position: relative;
      z-index: 2;
      border-radius: 5px;
      object-fit: cover;

      &:hover {
        transform: translateX(-10px);
        transition: transform 0.5s $animation;

        & + .album__image_vinyl {
          transform: translateX(20px);
          transition: transform 0.5s $animation;
        }
      }
    }

    &_vinyl {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
    }
  }

  &__title {
    font-weight: 600;
    color: $dark;
    font-size: 14px;
    position: relative;
    margin-top: 7px;
  }

  &__info {
    font-weight: 600;
    color: $pale;
    font-size: 12px;
    position: relative;
  }

  &__cover {

    &_label {
      position: relative;
      z-index: 1;

      .icon {
        width: 50px;
        height: 50px;
        color: $white;
      }
    }
  }
}