.album {
  flex: 1 1 0;
  position: relative;

  @include media('>=laptop') {
    padding: 25px;
    display: grid;
    grid-template-columns: 230px 1fr;
  }

  &.--frame {

    @include media('>=laptop') {
      grid-template-columns: 350px 1fr;
    }
  }

  &__aside {

    @include media('<laptop') {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vw;
    }

    @include media('>=laptop') {
      position: relative;
    }

    .float-modal {
      width: 100%;

      @include media('<laptop') {
        top: 0;
        width: 100vw;
        height: 100vw;
        border-radius: 0;
        box-shadow: none;
        background-color: $border;
      }

      @include media('>=laptop') {
        top: calc(100% + 15px);
        min-height: $albumAsideWidth;
        max-height: calc(100vh - 420px);
      }

      .preloader {
        height: 100%;

        &__icon {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  
  &__sidebar {

    @include media('>=laptop') {
      position: sticky;
      top: 25px;
    }
  }

  &__content {
    flex: 1 1 0;

    @include media('<laptop') {
      padding: 25px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      margin-top: 100vw;
      background-color: $white;
      position: relative;
      z-index: 10;
    }

    @include media('>=laptop') {
      padding-left: 25px;
    }
  }

  &__frame {
    text-align: center;
    position: relative;

    @include media('>=desktop') {
      padding: 0 10px;
    }

    & > iframe {
      border-radius: 5px;
      width: 100% !important;
    }
  }

  .album__frame {
    min-width: 350px;
    padding: 0;
  }

  &__player {

    @include media('>=desktop') {
      margin-bottom: 7px;
    }

    iframe {
      width: 100% !important;
      border-radius: 5px;
      display: block;

      @include media('<tablet') {
        height: calc(50vw - 25px - 5px) !important;

        @include media('landscape') {
          height: calc(33.3333vw - 21px) !important;
        }
      }

      @include media('>=tablet') {
        height: calc(33.3333vw - 22px) !important;
      }

      @include media('>=laptop') {
        height: calc(33.3333vw - 78px) !important;
      }

      @include media('>=desktop') {
        height: 212px !important;
      }
    }

    & + a {

      @include media('<desktop') {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
      }
    }
  }

  &__link {
    display: block;
    text-align: center;
    position: relative;

    @include media('>=desktop') {
      padding: 0 10px;
      min-height: 252px;
    }
  }

  &__image {
    object-fit: cover;
    position: relative;

    &_img,
    &_vinyl {
      width: 100%;
      display: block;
      transition: transform 0.5s $animation;

      @include media('>=desktop') {
        height: 212px;
      }
    }

    &_img {
      position: relative;
      z-index: 2;
      border-radius: 5px;
      object-fit: cover;

      @include media('>=desktop') {
        &:hover {
          transform: translateX(-10px);
          transition: transform 0.5s $animation;

          & + .album__image_vinyl {
            transform: translateX(20px);
            transition: transform 0.5s $animation;
          }
        }
      }
    }

    &_vinyl {
      @include media('<desktop') {
        display: none
      }

      @include media('>=desktop') {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
      }
    }
  }

  &__title {

    @include media('<desktop') {
      display: none
    }

    @include media('>=desktop') {
      font-weight: 600;
      color: $dark;
      font-size: 14px;
      position: relative;
      margin-top: 7px;
    }
  }

  &__info {
    @include media('<desktop') {
      display: none
    }

    @include media('>=desktop') {
      font-weight: 600;
      color: $pale;
      font-size: 12px;
      position: relative;
    }
  }

  &__cover {

    &_label {
      position: relative;
      z-index: 1;

      .icon {
        width: 50px;
        height: 50px;
        color: $white;
      }
    }
  }
}