@keyframes spinAround {
  0%  {
    transform: rotate(0deg);
  }
  
  100% {
    transform:rotate(359deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.flyUp-enter-active,
.flyUp-leave-active {
  transition: all 0.5s $animation;
}

.flyUp-enter-to {
  transform: translateY(0);
  opacity: 1;
}

.flyUp-enter-from,
.flyUp-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 0;
  transition: all 0.5s $animation;
}

.fade-enter-to {
  position: absolute;
  opacity: 1;
}

.fade-enter-from,
.fade-leave-to {
  position: absolute;
  opacity: 0;
}
