.card {
  position: relative;
  border-radius: 5px;
  transition: all 0.3s ease;

  @include media('>=desktop') {
    margin-bottom: 15px;
    padding: 10px;
  }

  &.--active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &.sortable-chosen {
    background-color: $border;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: box-shadow 0.3s ease;

    .delete {
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    .--drag {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }

  &__confirmation {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    border-radius: 5px;
    z-index: 10;

    .button {
      margin: 5px 0;
    }
  }

  .--drag {
    width: 30px;
    height: 30px;
    cursor: move;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;

    .icon {
      width: 18px;
    }
  }

  &__youtube {
    padding: 0 10px;
    margin-bottom: 20px;
  
    iframe {
      width: 100%;
      display: block;
      border-radius: 5px;

      @include media('<tablet') {
        height: 26vmax;
      }

      @include media('>=tablet') {
        height: 18vmax;
      }

      @include media('>=desktop') {
        height: 270px;
      }
    }
  }
}