#app {
  background: linear-gradient(to right, #000, #e5e5e5, #000);
  background: linear-gradient(to right, #0f1e36, #e5e5e5, #0f1e36);
}

.section {
  overflow: hidden;
  position: relative;
  z-index: 1000;
  min-height: calc(100vh - #{$playerHeight});
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;

  &.--z-low {
    height: calc(100vh - 62px);
  }
}

.hero {
  width: 100%;
  height: 300px;
  position: relative;
}

.paginator__button {

  .icon {
    width: 20px;
    height: 20px;
  }
}