.table {
  padding: 25px;

  &__heading {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}

.o-table {
  width: 100%;

  tbody {

    tr {
      transition: background-color 0.2s $animation;

      &:last-child {

        .o-table__td {
          border-bottom: 0;
        }
      }

      &:hover {
        background-color: $paleLT;
        transition: background-color 0.2s $animation;
      }
    }
  }

  &__th {
    color: $black;
    padding: 10px;

    &--sortable {
      cursor: pointer;
    }
  }

  &__td {
    padding: 5px 10px;
    border-bottom: 1px solid $paleLT;
    border-right: 1px solid $paleLT;
    vertical-align: top;
    color: $black;

    &:last-child {
      border-right: 0;
    }

    .o-icon {
      display: block;
      transition: transform 0.2s $animation;
    }

    &-chevron {
      width: 20px;
      padding: 5px 0;
      border-right: 0;
      cursor: pointer;

      .mdi {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;

        &:before {
          content: '';
          border-style: solid;
	        border-width: 2px 2px 0 0;
          border-color: $black;
          display: inline-block;
          position: absolute;
          top: 50%;
          vertical-align: top;
          width: 7px;
          height: 7px;
          left: 0;
	        transform: rotate(45deg) translateY(-50%);
        }
      }
    }
  }

  &__link {
    color: $info;
  }

  &__details {
    background-color: $paleLT;

    &-content {
      padding: 25px;
    }

    &-list,
    &-item,
    &-cards {
      margin-bottom: 10px;
    }

    &-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      li {

        iframe {
          width: 100%;
          height: 210px;
        }
      }
    }
  }
}