$font: 'Nunito', sans-serif;

$white: #fff;
$black: #2b2b2b;
$dark: #0f1e36;
$paleDP: #828c9b;
$paleMD: #a5aab3;
$paleLT: #eee;
$accent: #f51e38;
$error: #ff3860;
$success: #48c78e;
$warning: #fcd568;
$info: #3e8ed0;
$transBlack: rgba(43, 43, 43, 0.95);
$transDark: rgba(15, 30, 54, 0.9);
$transLight: rgba(255, 255, 255, 0.7);

$borderRadiusSM: 3px;
$borderRadiusMD: 5px;
$borderRadiusLG: 7px;

$elementHeightSM: 30px;
$elementHeightMD: 38px;
$elementHeightLG: 46px;

$containerWidth: 1198px;
$asideWidth: 250px;
$asideWidthMobile: 140px;
$albumAsideWidth: 500px;
$playerHeight: 62px;
$coverWidth: 350px;

$mainPadding: 25px;

$animation: cubic-bezier(.06,.28,.26,.81);

$shadowLight: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$shadowMedium: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$breakpoints: (
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1280px,
  'desktop-md': 1536px,
  'desktop-lg': 1780px,
  'desktop-hg': 2048px,
  'landscape': '(orientation: landscape)'
  ) !default;

@mixin buttonClose {
  position: absolute;
  top: $mainPadding;
  right: $mainPadding;
  background-color: transparent;
  z-index: 10;

  .icon {
    color: $white;
  }
}

@mixin serif($size) {
  font: $size 'Yeseva One', serif;
  letter-spacing: 1px;
  font-weight: 400;
}

@mixin cardHeading() {
  font-weight: 700;
  color: $dark;
  font-size: 0.875rem;
  position: relative;
  margin-top: 7px;
}

@mixin cardCaption() {
  font-weight: 600;
  color: $paleDP;
  font-size: .75rem;
  position: relative;
}
