$font: 'Source Sans Pro', sans-serif;

$white: #fff;
$black: #000;
$dark: #0f1e36;
$pale: #828c9b;
$border: #eee;
$accent: #f51e38;
$error: #ff3860;
$success: #48c78e;
$warning: #ffe08a;
$info: #3e8ed0;
$transDark: rgba(15, 30, 54, 0.9);
$transLight: rgba(255, 255, 255, 0.9);

$borderRadiusSM: 3px;
$borderRadiusMD: 7px;

$containerWidth: 1198px;
$asideWidth: 250px;
$asideWidthMobile: 110px;
$albumAsideWidth: 500px;
$playerHeight: 62px;

$animation: cubic-bezier(.17, .67, .35, .99);

$breakpoints: (
  'tablet': 768px,
  'laptop': 1024px,
  'desktop': 1280px,
  'desktop-md': 1536px,
  'desktop-lg': 1780px,
  'desktop-hg': 2048px,
  'landscape': '(orientation: landscape)'
  ) !default;

@mixin buttonClose {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 10;

  .icon {
    color: $white;
  }
}

@mixin serif($size, $weight) {
  font: $size Oranienbaum, serif;
  letter-spacing: 1px;
  font-weight: $weight;
}